<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container">
      <% include ../static/partials/navbar.ejs %>
      <h1>....(this is here because there's a bug hiding things).....</h1>
      <h1>Posts</h1>

      <ul class="list-group">
        <% posts.forEach((post) => { %>
        <li class="list-group-item">
          <a href="/posts/<%= post.id %>"> <%= post.title %></a>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
