<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <h1>.....bug that's hiding things ........</h1>
      <h1><%= post.title %></h1>
      <p><%= post.body %></p>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
