<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>
    <main class="container">
      <h1>.....bug that's hiding things ........</h1>
      <h1><%= post.title %></h1>
      <a href="/posts/<%= post.id %>/edit" class="btn btn-warning">Edit</a>
      <p><%= post.body %></p>

      <form
        style="display:initial"
        action="/posts/<%= post.id %>/destroy"
        method="post"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
